# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Endeavor/vendor/VulkanSDK
Endeavor-Editor/assets/cache
scripts/__pycache__